{% extends "base.html" %}

{% block content %}
    <h1 class="my-4">Products</h1>
    <div class="row">
        <!-- Table to display products -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Image URL</th>
                    <th>Category ID</th>
                    <th>Edit</th